{% extends 'home/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
  <div class="container-fluid mt-5">
    <h2 class="text-center mb-5">About Us</h2>
    <div class="row">
      <div class="col-md-6">
{#        <img src="{% static 'img/about-us.jpg' %}" class="img-fluid rounded" alt="About Us">#}
      </div>
      <div class="col-md-6">
        <p class="lead">At InfiniteAppWorks, we are passionate about creating cutting-edge mobile apps, games, and websites that engage users and drive results for our clients.</p>
        <p>We have a team of highly skilled developers, designers, and data analysts who work together to deliver innovative solutions that meet our clients' unique needs. Whether you need a simple website, a complex web application, or a mobile app that runs on both iOS and Android, we have the expertise and experience to make it happen.</p>
        <p>We believe that great technology is about more than just code. It's about understanding our clients' business goals, identifying opportunities for growth, and delivering solutions that help them succeed. That's why we work closely with our clients throughout the development process, from initial planning to final delivery and beyond.</p>
        <p>Thank you for considering InfiniteAppWorks for your development needs. We look forward to the opportunity to work with you.</p>
      </div>
    </div>
  </div>
{% endblock %}
